body {
    font-family: 'Playfair Display', serif;
    background-color: #F6F6F5;
}

a {
    color: #eadbcd;
}
ul{
    padding: 0;
    list-style: none;
}


ul.nav-list.show{
    display: block;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: #354d4d; 
    z-index: 99; 
}
#logo-home {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    font-size: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

ul.nav-list li {
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 25px;
    line-height: 21px;
    text-decoration: none;
}

ul.nav-list li a {
    display: block;
    padding: 8px 25px;
    text-decoration: none;
}


ul.nav-list li a:hover {
    text-decoration: underline;
    color: #d29A5d;
    box-shadow: #eadbcd;
}

ul.nav-list li ul.dropdown {
    min-width: 100%;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    background-color: #354d4d;
}

ul.nav-list li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}

#menu {
    z-index: 2;
  }

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #d29A5d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #d29d5d, #d29d5d);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #354d4d;
}


.main-page{
  text-align: center;
  color: #eadbcd;
}


#title-home {
  font-size:100px;
}

.main-page h2{
  font-size: 30px;
}

.contact-social li{
  display: inline;
  margin-top: 20px;
  padding: 10px;
}

.about-section {
  background-color: #eadbcd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.main-img img{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -30%;
  margin-bottom: 10%;
}

.about-text p {
  font-weight: 400;
  width: 65ch;
}
.main-logo{
  display: block;
  border: 1px black solid;
  height: 500px;
  width: 500px;
  border-top-left-radius:300px;
  border-top-right-radius:300px;
}
#about-text {
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#about-text p{
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
}

.works-page {
  min-height: 100vh;
  background-color: #f4ece7;
  padding: 80px;
}

#works-title {
  display: flex;
  justify-content: center;
  height: 100px;
  padding: 10px;
}

.h1,
h1 {
font-size: 51px;
}

#card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: baseline; 
}

.btn-primary {
background-color: #d29A5d;
color: #354d4d;
font-weight: 300;
border: none;
}

.btn-primary:hover {
  background-color: #F6E4DF;
  color: #A66E5E;
  border: none;
}

.btn-secondary{
background-color: #eadbcd;
color:#354d4d;
border: none;
}

.btn-secondary:hover{
  background-color: #A67262;
  color: #F5E8E4;
  border: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-color: #354d4d;
}

.form-title{
  color: #eadbcd;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
}

h1.form-title {
  font-size: 40px;
  margin-bottom: 15px;
}

.form-group {
  margin: 10px;
}

label {
  color: #eadbcd;
}

label.col-form-label {
  font-size: 20px;
}


#name, #email, #textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-btn{
  border-radius: 15px;
  background-color: #e1b996;
  color: #354d4d;
  padding: 5px;
  border: none;
}

#up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: #eadbcd;
  background-color: #354d4d;
  border: none;
}

#menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #menu{
      display: block;
      z-index: 80;
  }

  .about-section{
      height: 100vh;
  } 
  #title-home {
      font-size:50px;
  }
  .main-page h2 {
      font-size: 20px;

  }

  .works-page{
      height: 100vh;
  }

  .contact{
      height: 50vh;
  }

  .menu-bg, #menu {
      top: 0;
      left: 0;
      position: absolute;
    }
    
    .menu-bg {
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;
    }
    
    .change {
      display: block;
    }
    .nav li {
        z-index: 99;
    }
    .change .bar {
      background-color: #eadbcd;
    }
    
    .change #bar1 {
      transform: translateY(4px) rotateZ(-45deg);
    }
    
    .change #bar2 {
      opacity: 0;
    }
    
    .change #bar3 {
      transform: translateY(-6px) rotateZ(45deg);
    }
    
    .change-bg {
      width: 520px;
      height: 460px;
      transform: translate(-60%,-30%);
    }

  ul.nav-list {
      display: none;
      margin: 0px;
  }

  #nav li a{
    font-size: 15px;
  }
  .about-text{
    width: 100%;
  }
  #about-text p{
    display: block;
    overflow-wrap: break-word;
    max-width: 100%;
    font-weight: 300;
    font-size: 15px;
  }

  h2{
      font-size: 10%;
  }
  .main-page{
      height: 100vh;
  }
  p {
      font-size: small;
      font-weight: 200;
  }
    
}


@media only screen and (max-width: 768px) {
  .main-page{
    height: 100vh;
  }
  .main-logo{
      height: 300px;
      width: 300px;
  }

  .about-section{
    height: 100vh;
  }

  .main-img img {
    margin: 0;
  }

  #about-text p{
    display: block;
    overflow-wrap: break-word;
    max-width: 100%;
  }
 
  .contact {
    height: 70vh;
  }
}